In [1]:
import pandas as pd

In [10]:
#two main datatypes

#series is one dimensional
series = pd.Series(["BMW", "Toyota", "Honda"])

In [3]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [13]:
colors = pd.Series(["Red", "Blue", "white"])
print(series)
print(" ")
print(colors)

0       BMW
1    Toyota
2     Honda
dtype: object

0      Red
1     Blue
2    white
dtype: object

In [9]:
#DataFrame is 2 dimensional, far more common 

car_data = pd.DataFrame({"Car Make": series, "Color": colors})
car_data

  Car Make  Color
0      BMW    Red
1   Toyota   Blue
2    Honda  white

In [14]:
#making dataframes using series is time consuming. So we are going to import data.
car_sales = pd.read_csv("car-sales.csv")

In [15]:
car_sales.head()

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00