In [1]:
import pandas as pd

In [10]:
#two main datatypes

#series is one dimensional
series = pd.Series(["BMW", "Toyota", "Honda"])

In [3]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [12]:
colors = pd.Series(["Red", "Blue", "white"])
print(series)
print(" ")
print(colors)

0       BMW
1    Toyota
2     Honda
dtype: object
0      Red
1     Blue
2    white
dtype: object

In [9]:
#DataFrame is 2 dimensional, far more common 

car_data = pd.DataFrame({"Car Make": series, "Color": colors})
car_data

  Car Make  Color
0      BMW    Red
1   Toyota   Blue
2    Honda  white

In [ ]:
#making dataframes using series is time consuming. So we are going to import data.